In [5]:
import pandas as pd
import numpy as np

salary="salary_data_states.xlsx"
salary_full=pd.read_excel(salary)

In [6]:
salary_full

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.00,year,62171.00,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.00,year,91440.00,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.00,year,49470.00,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470.0,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.00,month,43800.00,year,SCIENCE TEACHER,...,"Biological Science Teachers, Postsecondary",Texas,TX,NaN,y,H-1B,NaN,43800.0,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.00,bi-weekly,170000.00,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000.0,software engineer,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167273,I-200-12241-209885,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.60,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,11648.0,teacher,167357
167274,I-200-11305-143547,denied,11/1/2011,11/3/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167358
167275,I-200-11313-833007,certified,11/9/2011,11/16/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,TEACHER,...,"Teachers and Instructors, All Other*",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167359
167276,I-200-11312-798611,denied,11/8/2011,11/15/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.10,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10608.0,teacher,167360
167277,I-200-11297-523711,denied,10/24/2011,10/26/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.05,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10504.0,teacher,167361

In [7]:
salary_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167278 entries, 0 to 167277
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     167278 non-null  object
 1   CASE_STATUS                     167278 non-null  object
 2   CASE_RECEIVED_DATE              167278 non-null  object
 3   DECISION_DATE                   167278 non-null  object
 4   EMPLOYER_NAME                   167278 non-null  object
 5   PREVAILING_WAGE_SUBMITTED       167278 non-null  float64
 6   PREVAILING_WAGE_SUBMITTED_UNIT  167278 non-null  object
 7   PAID_WAGE_SUBMITTED             167278 non-null  float64
 8   PAID_WAGE_SUBMITTED_UNIT        167278 non-null  object
 9   JOB_TITLE                       167278 non-null  object
 10  WORK_CITY                       167275 non-null  object
 11  EDUCATION_LEVEL_REQUIRED        11093 non-null   object
 12  COLLEGE_MAJOR_REQUIRED          11051 non-null   object
 13  EXPERIENCE_REQUIRED_Y_N         11093 non-null   object
 14  EXPERIENCE_REQUIRED_NUM_MONTHS  4965 non-null    float64
 15  COUNTRY_OF_CITIZENSHIP          11093 non-null   object
 16  PREVAILING_WAGE_SOC_CODE        167278 non-null  object
 17  PREVAILING_WAGE_SOC_TITLE       167278 non-null  object
 18  WORK_STATE                      167278 non-null  object
 19  WORK_STATE_ABBREVIATION         167278 non-null  object
 20  WORK_POSTAL_CODE                53674 non-null   object
 21  FULL_TIME_POSITION_Y_N          156185 non-null  object
 22  VISA_CLASS                      167278 non-null  object
 23  PREVAILING_WAGE_PER_YEAR        167210 non-null  float64
 24  PAID_WAGE_PER_YEAR              167278 non-null  float64
 25  JOB_TITLE_SUBGROUP              167278 non-null  object
 26  order                           167278 non-null  int64
dtypes: float64(5), int64(1), object(21)
memory usage: 34.5+ MB

In [8]:
salary_full.head()

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.0,year,62171.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.0,year,91440.0,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.0,year,49470.0,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470.0,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.0,month,43800.0,year,SCIENCE TEACHER,...,"Biological Science Teachers, Postsecondary",Texas,TX,NaN,y,H-1B,NaN,43800.0,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.0,bi-weekly,170000.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000.0,software engineer,5

In [ ]:
## In Prevailing_wage_submitted_unit, some rows are year, month and bi-weekly.
## calculate prevailing_wage_submitted based on yearly.

In [12]:
## find unique value of state

salary_full['WORK_STATE'].unique()

## We use full state name. No state code in the data.

array(['Illinois', 'California', 'Texas', 'Oregon', 'New Jersey',
       'New York', 'Connecticut', 'Washington', 'Maryland',
       'North Carolina', 'District of Columbia', 'South Carolina',
       'Rhode Island', 'Colorado', 'Michigan', 'Missouri', 'Minnesota',
       'Wyoming', 'Louisiana', 'Pennsylvania', 'Tennessee', 'Idaho',
       'Massachusetts', 'Nebraska', 'Georgia', 'Ohio', 'Florida',
       'Indiana', 'Arizona', 'Kentucky', 'Iowa', 'Wisconsin', 'Alabama',
       'Arkansas', 'Virginia', 'New Mexico', 'West Virginia', 'Oklahoma',
       'Utah', 'Nevada', 'Mississippi', 'New Hampshire', 'Delaware',
       'Kansas', 'Alaska', 'Hawaii', 'Vermont', 'North Dakota', 'Maine',
       'Montana', 'Virgin Islands', 'South Dakota', 'Guam', 'Puerto Rico',
       'Palau', 'Guamam', 'Northern Mariana Islands'], dtype=object)

In [9]:
salary_full.describe().T

,count,mean,std,min,25%,50%,75%,max
PREVAILING_WAGE_SUBMITTED,167278.0,71157.518830,38746.239518,5.05,54475.00,69701.0,89937.00,6217100.0
PAID_WAGE_SUBMITTED,167278.0,81641.855212,41477.029632,5.05,61000.00,77000.0,100000.00,2500000.0
EXPERIENCE_REQUIRED_NUM_MONTHS,4965.0,34.692044,22.317783,0.00,12.00,24.0,60.00,144.0
PREVAILING_WAGE_PER_YEAR,167210.0,74274.868236,25356.245893,10504.00,56880.00,70928.0,90459.00,320000.0
PAID_WAGE_PER_YEAR,167278.0,85532.766271,38738.466697,10500.00,63000.00,78600.0,100006.00,2500000.0
order,167278.0,83714.716305,48300.236431,1.00,41901.25,83722.5,125541.75,167361.0

## Check missing values

In [10]:
salary_full.isnull().sum()

CASE_NUMBER                            0
CASE_STATUS                            0
CASE_RECEIVED_DATE                     0
DECISION_DATE                          0
EMPLOYER_NAME                          0
PREVAILING_WAGE_SUBMITTED              0
PREVAILING_WAGE_SUBMITTED_UNIT         0
PAID_WAGE_SUBMITTED                    0
PAID_WAGE_SUBMITTED_UNIT               0
JOB_TITLE                              0
WORK_CITY                              3
EDUCATION_LEVEL_REQUIRED          156185
COLLEGE_MAJOR_REQUIRED            156227
EXPERIENCE_REQUIRED_Y_N           156185
EXPERIENCE_REQUIRED_NUM_MONTHS    162313
COUNTRY_OF_CITIZENSHIP            156185
PREVAILING_WAGE_SOC_CODE               0
PREVAILING_WAGE_SOC_TITLE              0
WORK_STATE                             0
WORK_STATE_ABBREVIATION                0
WORK_POSTAL_CODE                  113604
FULL_TIME_POSITION_Y_N             11093
VISA_CLASS                             0
PREVAILING_WAGE_PER_YEAR              68
PAID_WAGE_PER_YEAR                     0
JOB_TITLE_SUBGROUP                     0
order                                  0
dtype: int64

In [ ]:
## We have missing values in several columns. We need to deal with those before we do analysis.